<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.87.1" targetFramework="net462" />
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net462" />
  <package id="SqlMapper.Common" version="1.0.7" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net462" />
</packages>